.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    margin: 0;
    display: inline;
}

.card {
    margin: var(--margin-large) 0;
    padding: var(--padding-very-large);
}

.card:first-child {
    margin-top: 1px;
}

.headerLeftItem {
    display: flex;
    align-items: center;
    word-break: break-all;
}

@media screen and (max-width: 768px) {
    .headerLeftItem {
        width: 50%;
    }
}