.card {
    width: calc(100% / 2 - var(--margin-base) * 2);
    position: relative;
    margin: var(--margin-base);
}

.card::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / 0.75)
}

.card > :first-child {
    position: absolute;
    top: 50%;
    left: 50%;
}

.participantName {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .card {
        width: calc(100% / 4 - var(--margin-base) * 4);
    }
}

@media screen and (min-width: 1280px) {
    .card {
        width: calc(100% / 8 - var(--margin-base) * 8);
    }
}
