.cardHeading {
    margin: 0.5em;
    text-align: center;
}

.cardIcons {
    display: flex;
    justify-content: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: var(--margin-large);
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% / 3);
        height: 100%;   
        margin-right: var(--margin-base);
        margin-top: var(--margin-base);
    }
}