.participantList {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    padding: 1px;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .participantList {
        height: 20vh;
        flex-direction: row;
        padding-top: 3px;
    }
}