.sessionPage {
    width: 100%;
    display: flex;
    height: 100%;
}

.sessionPage > *:not(:last-child) {
    margin-right: var(--margin-large);
}

.participantList {
    width: 10%;
    height: 100%;
}

.taskList {
    width: 90%;
}

@media screen and (max-width: 768px) {
    .sessionPage {
        flex-direction: column;
    }

    .taskList, .participantList {
        width: 100%;
    }

    .taskList {
        margin-top: var(--margin-large);
    }
}

